<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="filtermusic.net"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!--used for keeping the processor from sleeping-->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".FiltermusicApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/filtemusic_logo"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.TabsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.details.RadioDetailActivity"/>

        <meta-data android:name="com.crashlytics.ApiKey" android:value="a39fa07d0b5650c51fe0993719b435cc8f89c0d2"/>

        <service android:name="com.android.magic.stream.player.MediaPlayerService"/>

        <receiver android:name="com.android.magic.stream.player.MusicIntentReceiver">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>

        <meta-data android:name="com.google.android.gms.version"
                   android:value="@integer/google_play_services_version" />

    </application>


</manifest>
